body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bs-body-bg);
    margin: 0;
    padding: 0;
}

header{
    background: #fff;
    width:100%;
    position: fixed;
    z-index: 9998;
    box-shadow: 0 2px 4px rgba(0,0,0,.08);
}


nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
    
}

.left-nav-container{
    display: flex;
    justify-content: space-between;
    gap:100px;
    align-items: center;
}
.logo1{
    
    margin-left: 50px;
   
}

.logo1>img{
    width: 37.99972915649414px;
    height: 37.99972915649414px;

}
.logo1 span{

    width: 90px;
    height: 38px;
    font-family: Bai Jamjuree;
    font-size: 22px;
    font-weight: 600;
    margin-top:5px;
    margin-left: 4px;
    position: absolute;
    /* line-height: 30px; */
    letter-spacing: -0.04em;
    /* text-align: left; */
    color: rgba(1, 37, 85, 1);
}
.logo2>img{
    width: 77px;
    height: 30px;
    
}

.right-nav-container,ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px;
    margin-right:40px;

}
ul li{
    text-decoration: none;
    list-style-type: none;
    font-family: Bai Jamjuree;
    font-size:20px;
}
select{
    font-family: Bai Jamjuree;
    font-size:20px;
}
select{
    
    border:none;
    outline:none;
    
    width:90px;
}
#more{
    width:70px;
}
#btn{
    width: 65px;
    height:35px;
   border-radius:5px;
    
    background: rgba(255, 255, 255, 1);
    border:2px solid rgba(47, 128, 237, 1);
    text-align: center;
    color:rgba(47, 128, 237, 1);
}

.bottom-header{
    background-color: blue;
    padding:10px;
}
.bottom-header>p{
    Font-Weight:600;
    font-size:18px;
    Line-height:22px;
    text-align: center;
    font-family:ABeeZee;
    font-style: italic;
    color:white;
    margin: auto;
   
}

.section1{
    
    width:100%;
    
    height:850px;
    background-color: rgba(255, 255, 255, 1);
   
}

.section1-container{
    width:100%;
    display:flex;
    
    background: url(/_next/static/media/purple_arraow.e16eb7db.svg);
    width: 100%;
    margin-top: 80px;
    position: absolute;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    /* background: url(/_next/static/media/purple_arraow.e16eb7db.svg); */
    background-position: 60% 43%;
    background-repeat: no-repeat;
    background-size: 7%;
   
    
}


.f-heading h1{
    Font-family:ABeeZee;
    font-Weight:600;
    width:638px;
    /* font-style: italic; */
    font-size: 48px;
    line-height: 20px;
    color:rgb(43,47,52,1);
}

.left-subsection>.sec-heading{
   
    color:rgb(43,47,52,1);
    line-height: 10px;
    Font-family:ABeeZee;
    font-Weight:400;
   
    font-style: italic;
    font-size: 30px;
    line-height: 20px;
   
}

.left-subsection .para{
    width:492px;
    height:46px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.item-class{
    display:flex;
    border-radius: 6px;
    justify-content: center;
    margin-top: 30px;
    gap:20px;
    width:640px;
    padding-left: 5px;
    padding-right: 5px;
    height:35px;
    padding:20px;
    box-shadow: 2px 2px 5px 5px lightgray;
    /* border:1px solid rgba(226,226,226,1); */
}

.items{
    display:flex;
    gap:10px;
}



.item-class .items .out-circle{
    background-color:rgba(255, 225, 223, 1) ;
    border-radius: 50px;
    width:36px;
    height:36px;
}
.item-class .items .out-circle>div{
    width:20.33px;
    height:20.10px;
    margin: auto;
    position: absolute;
    margin-top: 6px;
     margin-left:6px;
}
#text{
      font-size: 15px;
      color:rgba(79,79,79,1);
      font-family:ABeeZee;
      font-style: italic;
      width:99px;
      height: 40px;
}

.right-subsection1{
    background-color: rgb(255, 255, 254);
    width:420px;
    height:520px;
    /* border:1px solid rgba(226,226,226,1); */
    margin-top: 120px;
    border-radius:10px;
    visibility: visible;
    box-shadow: 5px 5px 8px 5px lightgray;
    overflow: hidden;
}
.text-form .title{
    width:300px;
    text-align: center;
    
    margin:45px;
    
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -.336px;
    line-height: 36px;
    font-family:Bai Jamjuree;
}

.text-para{
    text-align: center;
    color:rgba(79,79,79,1);
    margin-top: -25px;
    opacity: 0.8;
}

form{
    margin:auto;
    
}


input{
    text-indent: 20px;
    text-align:justify;
    margin: auto;
    font-size: 20px;
    width:320px;
    border-radius: 5px;
    padding:20px;
    background-color: rgb(250, 250, 250);
    margin-top: 20px;
    border:none;
    margin-left: 25px;
    outline: none;
}
.inputs>img{
    position:absolute;
    margin-top: 38px;
    margin-left: 28px;
}
form button{
    margin:20px;
    width:320px;
    padding:20px;
    background-color:rgb(62, 117, 237);
    color:white;
    font-size: 20px;
    font-weight:400px;
    font-style: italic;
    border-radius: 5px;
    border:none;
    margin-left: 40px;
}
.footer .pra{
    color:rgba(79,79,79,1);
    opacity:0.7;
    justify-content: center;
    margin: auto;
   
}

.footer>p{
   margin: auto;
   text-align: center;
}

.madeby{
    width:270px;
    
    padding:10px;
    /* border:1px solid rgba(226,226,226,1); */
    position: absolute;
    margin-top:90px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px lightgray;
}


/* section-2 */

.section-2{
    width:100%;
    height:990px;
    background-color: rgb(236, 248, 255);
}

.head{
    margin-top:50px;
    padding-top: 50px;
}

.box1-head{
    text-indent: 10px;
    color:white;
    text-align: center;
    border-radius: 10px;
    width: 230px;
    height: 17px;
    font-family: ABeeZee;
    padding:5px;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    margin:auto;
    margin-top:-10px;
    background-color: #2F80ED;
}
.section-2 p{
    font-size: 20px;
    font-weight: 400px;
    color:rgb(94, 98, 238);
    font-style: italic;
    font-family: ABeeZee;
    text-align: center;
    top: 50px;
}

.section-2 h1{
    color:#2F80ED;
    font-family: ABeeZee;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
}

.section-2-main{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:20px;
    padding-top:40px;
}

.box{
    background-color: rgb(255, 255, 255);
    width:500px;
    height:680px;
    border-radius: 9px;
    border: 1px solid rgba(226, 226, 226, 1)
}
.box-heading{
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
    margin: auto;
    gap:10px;
    margin-top: -40px;
}

.box-heading p{
    font-size: 30px;
    font-weight: 400;
    color:#2b2f34;
    font-family: ABeeZee;
    font-style: italic;
    line-height: 30px;
   }

   .two-tex{
       display: flex;
       justify-content: center;
       gap:20px;
   }

   .text1{
    text-align: center;
    width:160px;
    padding:10px;
    background-color:rgb(224, 243, 255);
    color:rgb(50, 168, 241);
    border-radius: 10px;
   }

   #para-sec1{
      color:rgba(79,79,79,1);;
      opacity:0.8;
      font-style: normal;
      font-size: 18px;
      font-family: ABeeZee;
   }

   .main-tab-container{
       
   }

   .main-table{
      display:flex;
      justify-content: space-around;

      gap:70px;
      
   }
   .table-data{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
   }

   .table-data p{
    font-style: normal;
    color:black;
    font-family: ABeeZee;
    width:150px;
    
   }
   .underline{
      width:430px;
      height:1.75px;
      background-color:rgba(79,79,79,1);
      text-align: center;
      margin: auto;
      opacity:0.3;
   }

   .underline1{
    width:438px;
    height:2px;
    background-color:rgba(79,79,79,1);
    text-align: center;
    margin: auto;
    opacity:0.3;
 }


 .button-container>button{
    
    text-align: center;
    font-family: ABeeZee;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
     
    letter-spacing: 0em;
    width:200px;
    height: 55px;
    padding:10px 10px;
    border-radius: 8px;
    background-color: white;
    color:blue;
    border:1px solid blue;
    margin-left: 10px;
 }
 .button-container{
     margin-left: 40px;
    
 }



 .section-3{
    width: 100%;
    height: 794px;
    background: rgba(255, 255, 255, 1);
}


.section-3-head{
   
    width: 641px;
    height: 182px;
    padding-top: 96px;
    gap: 6px;
    margin:auto;
    
}

.small-heading{
    width: 251px;
    height: 19px;
    font-family: ABeeZee;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.08em;
    margin: auto;
    color: #2F80ED;
    text-align: center;
    
}

.large-heading{
     
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: -0.015em;
    text-align: center;
    
}

.software{
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: -0.015em;
    text-align: center;
    color:#2F80ED;
}

.below-heading{
    
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    color:rgba(89, 89, 89, 1);
    opacity: 0.7;
     text-align: center;

}
.company-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 1200px;
    height: 306px;
    top: 323px;
    flex-wrap: wrap;
    gap: 48px;
    margin: 0 auto;
    margin-top: 20px;

}

.company-container div{
    width:130.69px;
    height: 50px;
    padding: 10px;
    gap: 10px;
   
}

.company-container img{
    width: 140.68804931640625px;
    height: 32.60702896118164px;

}

.section-3 button{
    width: 200px;
    height: 30px;
    background-color: #2F80ED;
    color:#fff;
    padding:25px;
    border-radius: 5px;
    border:none;
    display: flex;
    font-style: italic;
    font-family: ABeeZee;
    font-weight: 600;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}


/* section-4 */

.section-4{

    width: 100%;
    height: 700px;
    padding: 96px 107px 138px 107px;
     background: rgba(255, 255, 255, 1);

}

.section-4-container{
    width: 1200px;
    height: 738px;
    top: 96px;
    left: 107px;
    gap: 54px;
    margin: auto;

}

.heading-4{
   
   margin: 0 auto;
   
}

.heading-4 p{
    width: 420px;
    height: 63px;
    font-family: ABeeZee;
    font-size: 42px;
    font-style: italic;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: -0.015em;
    text-align: center;
    color: rgba(43, 47, 52, 1);
    margin:auto;

}
.heading-4 #small{
   font-family:ABeeZee;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.02em;
    text-align: center;
    opacity:0.8;
    margin:auto;

}
.cards-container{
    width: 1200px;
    height: 590px;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap:20px;
    flex-wrap: wrap;
     
}

.cards{
    width: 300px;
    flex-shrink: 1;
    height:270px;
   
    padding: 24px;
   
    /* overflow: hidden; */
    border-radius: 10px;
    border: 2px;
    gap: 15px;
    top:0;
    /* background: linear-gradient(0deg, #D7D7D7, #D7D7D7),linear-gradient(0deg, #FFFFFF, #FFFFFF); */
    box-shadow: 5px 9px 40px 0px rgba(0, 0, 0, 0.08);

     border: 2px solid rgba(215, 215, 215, 1);
}


.prof-head{
    display: flex;
    align-items: center;
     margin-left: -15px;
     column-gap: 5px;
}

.prof-head img{
    width: 50px;
    height: 50px;

}
.prof-head span{
    font-family: ABeeZee;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    
}
.social img{
    float:right;
    margin-top: -60px;
}
 #sub{
    opacity: 0.7;
    font-size: 16px;
    font-weight: 602;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    font-style: normal;
    

}



.about{
   opacity: 0.7;
    width: 270px;
    height: 86px;
    font-family: ABeeZee;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
}

.date{
    font-size: 12px;
    font-weight: 600;
    opacity: 0.7;
    margin-top:70px;
}


